name: 'Run Ubuntu'
on:
  push:
    paths:
      - action.yml
      - .github/workflows/workflow-checkout.yml
      - .github/workflows/workflow-gitclone.yml
      - .github/workflows/unittest-ubuntu.yml
jobs:
  checkout:
    uses: gridai-actions/gridai-run/.github/workflows/workflow-checkout.yml@main
    with:
      os: ubuntu-latest
    secrets:  
      gridai-username: ${{ secrets.GRIDAI_USERNAME }} 
      gridai-key: ${{ secrets.GRIDAI_KEY }}      
  gitclone:
    uses: gridai-actions/gridai-run/.github/workflows/workflow-gitclone.yml@main
    with:
      os: ubuntu-latest
    secrets:  
      gridai-username: ${{ secrets.GRIDAI_USERNAME }} 
      gridai-key: ${{ secrets.GRIDAI_KEY }}  